@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #3674B5;
    --color-primary-light: #A1E3F9;
    --color-primary-dark: #03346E;

    --color-secondary: #578FCA;
    --color-secondary-light: #6EACDA;

    --color-dark: #021526;
}
